body{
    background-color: rgb(24,23,29);
}
nav{
    background-color: rgb(10, 21, 67);
    display: flex;
    justify-content: center;
}
nav a{
    margin: 10px;
    padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  color:rgb(251, 239, 250) ;
}
.title{
    text-align: center;
}
.title img{
    width: 300px;
    height: 350px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}
.title h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(251, 239, 250);
    margin-bottom: 50px;
}
.overview{
    background-color: rgb(10, 21, 67) ;
    text-align: left;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}
.overview p{
    color: rgb(251, 239, 250);
}
.overview ul{
    color: rgb(251, 239, 250);
}
.characters h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(251, 239, 250);  
}
.characters img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.characters p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(251, 239, 250);
    text-align: center;
}
.leads{
    display: flex;
    justify-content: center;
}
.jinwoo{
    padding: 20px;
    margin: 20px;
}
.haein{
    padding: 20px;
    margin: 20px;
}
.dragon{
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.dragon img{
    display: inline-block;
}
.shadow{
    display: flex;
    justify-content: center;   
}
.bel{
    padding: 10px;
    margin: 20px;
}

.beru{
    padding: 10px;
    margin: 20px;
}
.igris{
    padding: 20px;
    margin: 20px;
}
.about{
    margin: 10px;
    padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(251, 239, 250) ;
  text-align: center;
}
.landscape{
    display: flex;
    justify-content: center;
}
.landscape img{
    height: 200px;
    width: 300px;
    padding: 10px;
    margin: 20px;   
}
.portrait{
    display: flex;
    justify-content: center;
}
.portrait img{
    height: 300px;
    width: 200px;
    padding: 10px;
    margin: 20px;   
}